.product {
  vertical-align: middle;
  horizontal-align: 500px;
  width: 500px;
  height: 600px;
  border-radius: 10%;
}
#content {
  position: relative;
}
#content img {
  position: absolute;
  top: 0px;
  right: 0px;
}
body {
  background: grey;
}

h1 {
  margin: 0px auto;
  color: white;
  text-align: center;
  font-size: 8em;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
  0 3px 0 #ccc, 0 4px 0 #ccc,
  0 5px 0 #ccc, 0 6px 0 #ccc,
  0 7px 0 #ccc, 0 8px 0 #ccc,
  0 9px 0 #ccc, 0 10px 0 #ccc,
  0 11px 0 #ccc, 0 12px 0 #ccc,
  0 20px 30px rgba(0, 0, 0, 0.5);
}
